/*Colors used:

Text color(dark gray): #2b2b2b;

Background color(light gray): #d3d3d3;

Primary color(purple): #357b70;
Secondary color(orange): #e0b354;
*/

/* CSS variables*/
:root{
  --background-color: white;
  --primary-color: #357b70;
  --primary-color-active: #489c79;
  /* --primary-color-visited: #05676e; */
  --primary-color-visited: --black;
  --secondary-color: #e0b354;
  --sun-0: #edc655;
  --sun-50: #fcffad;
  --sun-100: #f76414;
  --dark-grey: #2b2b2b;
  --light-grey: lightgray;
  --black: rgba(0, 0, 0, 0.3);
  --red: red;
  --heading-font-weight: 700;
}

/* General */
*{
  box-sizing: border-box;
}
body{
  background-color: var(--background-color);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
h1{
  font-size: 30px;
  font-weight: var(--heading-font-weight);
}
h2{
  font-size: 24px;
  font-weight: var(--heading-font-weight);
}
h3{
  font-size: 18px;
  font-weight: var(--heading-font-weight);
}

/* Header */
.page-header{
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--black);
  /* margin-bottom: 20px;  */
}
.page-header__item{
  flex: 0 1 200px;
}
.page-header__item:last-child{
  flex-grow: 1;
  text-align: right;
}

/* Navigation */
.navigation-list, .unordered-list{
  list-style-type: none;
  padding: 0;
}
.navigation-list li{
  display: inline-block;
  margin-left: 15px;
  text-align: center;
}
.navigation-list li:first-child{
  margin-left: 0;
}
.navigation-list__item--active{
  text-decoration: none;
}

/* Footer */
.page-footer{
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Main tag*/
.profile{
  max-width: 700px;
  margin: 0 auto;
}

/* Main tag without portrait */
.index, .about, .contact{
  display: flex;
  flex-direction: column;
}

/* Links */
a{
  color: var(--primary-color);
}
a:hover, a:focus{
  text-decoration: none;
}
a:active{
  color: var(--primary-color-active);
}
a:visited{
  color: var(--primary-color-visited);
}

/* Buttons */
button, .button{
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--black); 
  transition: opacity 0.2s;
}
.button{
  align-self: center;
}
button:hover, .button:hover, button:focus, .button:focus{
  cursor: pointer;
  opacity: 0.8;
}
.default_link_button{
  align-self: flex-start; 
}
.button_secondary{
  background-color: var(--secondary-color);
  color: var(--dark-grey);
}

/* Portrait */
.profile__portrait{
  width: 250px;
  height: auto;
  border-radius: 50%;
  float: left;
  margin-right: 40px;
  margin-top: 30px;
}

/* About page child .angle-brackets*/
.about .angle-brackets{
  color: gray;
}
/* About page child span*/
.about span{
  background-color: var(--dark-grey);
  color: #007acc;
}
/* About page and "Download my CV" button */
.about, #résumé-button_about{
  text-align: center;
}
#résumé-button_about{
  margin-bottom: 40px;
}
/* Hometown illustration */
svg{
  margin-bottom: 30px;
}
@keyframes color-change{
  0%{
    fill: var(--sun-0);
  }
  50%{
    fill: var(--sun-50);
  }
  100%{
    fill: var(--sun-100);
  }
}
@keyframes cloud-move{
  from{
    transform: translate(0, 50px);
  }
  to{
    transform: translate(200px, 50px);
  }
}
@keyframes cloud-move-reverse{
  from{
    transform: translate(446px, 48px);
  }
  to{
    transform: translate(100px, 48px);
  }
}
.sun{
  animation: 4s color-change infinite alternate linear;
}
.cloud-front{
  animation: 30s cloud-move infinite alternate linear;
}
.cloud-back{
  animation: 30s cloud-move-reverse infinite alternate linear;
}
/* Tables */
table{
  align-self: center;
  margin-bottom: 30px;
}

/* Work grid */
@supports (display: grid){
  .project-list{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
}
.project-list__item{
  display: inline-block;
  width: 50%;
}
/* Change background-color in .project-list__item to a shade darker than body background-color  */
.project-list__item{
  background-color: var(--light-grey);
  width: auto;
  min-height: auto;
  padding: 10px;
  margin: 0;
}
.project-list__item > img {
  width: 100%;
}
/* .project-list__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 4;
} */
.row {
  display: flex;
}
.column {
  flex: 50%;
}
figure {
  margin: 0px;
}
.gif{
  width: 100%;
}

/* Contact page */
/* "Download my CV" button */
#résumé-button_contact{
  align-self: flex-start;
}
.contact-page__contact-me{
  margin-bottom: 30px;
}
/* Required asterisk */
.asterisk{
  color: var(--red);
}
.error-message{
  color: red;
  font-size: 0.8em;
}

/* Media queries (responsive design) go at the very end of CSS file */
@media all and (max-width: 500px){
  .project-list{
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .project-list{
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px){
  .project-list{
    grid-gap: 10px;
  }
  .project-list__item:last-child{
    grid-column: auto;
    grid-row: auto;
  }
  h1{
    font-size: 22px;
  }
}